<!DOCTYPE html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load qr_code %}
{% load static %}
{% block title %}PQWT| {{ room_name }}{% endblock title %}
{% block content %}

<html lang="en">
<head>
    {% include 'partials/_header.html' %}
</head>
<body>
    <div class="container mt-2">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title m-1">QRCODE for queue {{ room_name }}</h3>
                        <button class="btn btn-sm btn-dark float-right" onclick="printDiv('qrcode')">Print QRCODE</button>
                    </div>
                    <div class="card-body d-flex flex-row justify-content-center">
                        <div id="qrcode" class="text-center">
                            <p>Scan QRCODE or goto link <a target="_blank" href="{{ qrcode_text }}"><u><b>{{ qrcode_text }}</b></u></a></p>
                            {% qr_from_text qrcode_text options=qrcode_options %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-5">
                <div class="d-flex flex-row justify-content-center">
                   
                </div>
            </div>
        </div>
        
    </div>
    <script>
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }
    </script>
{% endblock content %}
</html>