{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <h1>{{ queue }}</h1>
        <div>
            <table class="table">
                <thead>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Joined At</th>
                </thead>
                <tbody id='root'>

                </tbody>
            </table>
        </div>
        <form action="{% url 'queues:add_patient' room_name%}"", method='POST'>
            <div class="card">
                {% csrf_token %}
                {{ form|crispy }}
                <button class='btn btn-primary' type="submit">Add Patient</button>
            </div>
        </form>

    </div>
    {{ request.user.username|json_script:"user_username" }}
    {{ room_name|json_script:"room-name" }}

{% include 'partials/_scripts.html' %}
{% endblock content %}