{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}PQWT| {{ queue }}{% endblock title %}
{% block content %}

<body class="hold-transition sidebar-mini layout-fixed">
    <style>

        .progresss {
            height: 30px;
            background-color: lightgray;
            display: flex;
            border-radius: 20px;
        }
        
        .progresss-done {
            height: 100%;
            width: 0;
            opacity: 0;
            background: linear-gradient(to left, #f2709c, #ff9472);
            color: #fff;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 1s ease;
        }
        
        .fas {
            height: 50px !important;
            width: 50px !important;
            left: 9px !important;
            font-size: 25px !important;
            line-height: 50px !important;
        }
        
        .mobileOnly {
            visibility: hidden;
            height: 0px;
        }
        
        .fa-envelop {
            top: 5px;
        }
        
        .spacedIcon {
            margin-top: 50px;
        }
        
        .timeline-item {
            margin-left: 70px !important;
            margin-top: 5px !important;
            background: #282828 !important;
        }
        
        .timeline-header {
            color: rgba(255, 255, 255, .8) !important;
        }
        
        @media (max-width: 801px) {
            .main-sidebar {
                visibility: hidden;
                display: none;
            }
            .content {
                margin-left: 0px !important;
            }
            .mobileOnly {
                visibility: visible;
                display: inline;
                height: auto;
            }
            .brand-image {
                margin-left: 0 !important;
            }
            .col-sm-6 {
                padding-left: 0 !important;
            }
            * {
                overflow-y: auto;
            }


        
        }
        
        @media (prefers-color-scheme: light) {
            .site-title a:link,
            .site-title a:visited,
            .header-social-icons .social-icons-menu li a {
                color: #373737;
            }
            .h1change {
                color: #373737;
                margin: 0px;
            }
            .card {
                background: #fff;
            }
            .site-content,
            body {
                background: #f9f9f9;
            }
            .site-header {
                background: #fff;
            }
        }
        
        @media (prefers-color-scheme: dark) {
            .site-title a:link,
            .site-title a:visited,
            .header-social-icons .social-icons-menu li a {
                color: #fff;
            }
            .h1change {
                color: #b3b3b3;
                margin: 0px;
            }
            .card {
                background: #282828;
            }
            .site-content,
            body {
                background: #141414;
            }
            .site-header {
                background: #141414;
            }
        }
        
    </style>
     <div class="wrapper">
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="timeline">
                    <!-- timeline time label -->
                    <div class="spacedIcon">
                        <i class="fas fa-user-plus bg-blue" aria-hidden="true"></i>
                        <div class="timeline-item">
                            <h3 class="timeline-header">Registration</h3>
                        </div>
                    </div>

                    <div class="spacedIcon">
                        <i class="fas fa-briefcase-medical bg-secondary"></i>
                        <div class="timeline-item">
                            <h3 class="timeline-header">Consultation</h3>
                        </div>
                    </div>
                    <div class="spacedIcon">
                        <i class="fas fa-receipt bg-secondary"></i>
                        <div class="timeline-item">
                            <h3 class="timeline-header">Billing</h3>
                        </div>
                    </div>
                    <div class="spacedIcon">
                        <i class="fas fa-file-prescription bg-secondary"></i>
                        <div class="timeline-item">
                            <h3 class="timeline-header">Prescription</h3>
                        </div>
                    </div>
                    <div class="spacedIcon">
                        <i class="fas fa-check bg-secondary"></i>
                        <div class="timeline-item">
                            <h3 class="timeline-header">Estimated Time</h3>
                        </div>
                    </div>
                </div>
                <!-- /.sidebar -->
        </aside>
        <section class="content" style="margin-left: 250px;">
            <div class="mobileOnly">
            </div>
            <div class="content-header">
                <!-- <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <div class="d-flex flex-row justify-content-center">
                                <div >
                                    <h1 class="h1change float-left">You are in {{ queue }} queue</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div id="reload" class="card bg-info ml-1 mr-1 d-none">
                <div class="card-body">
                    <p>Looks like you have been added to the next queue or You finished with the queues</p>
                </div>
            </div>
            <div class="card" style="margin: 8px;">
                <div class="card-header h1change">Time Remaining</div>
                <div class="progress-group" style="margin-right: 12px; margin-left: 12px;">
                    <div class="progresss">
                        <div class="progresss-done" data-done="60">
                            60%
                        </div>
                    </div>
                    <span class="float-left" style="margin-left: 5px; margin-top: 5px;"><b class="h1change">1 hr 5 mins</b></span>
                </div>
            </div>
            <div class="card" style="margin: 8px;">
                <div class="card-header h1change">Greetings, {{ patient.first_name }} {{ patient.last_name }}! You'll find our queue position below.</div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mt-2">
                            <div class="small-box bg-info">
                                <div class="inner">
                                    <h3>{{ patient.joined_at }}</h3>

                                    <p>You Joined At</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-2">
                            <div class="small-box bg-success">
                                <div class="inner">
                                    <h3><span id="estimatedWaitTime"></span> min</h3>

                                    <p>Estimated Wait Time</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-2">
                            <div class="small-box bg-warning">
                                <div class="inner">
                                    <h3><span id="position"></span></h3>
                                    <p>Your Position in Queue</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person-add"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-2">
                            <div class="small-box bg-danger">
                                <div class="inner">
                                    <h3>100</h3>

                                    <p>Total Wait Time</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-pie-graph"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="timeline-wrap">
                <div id="timelineLine"></div>

            </div>
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="timeline">
                    <!-- timeline time label -->
                    <div class="spacedIcon">
                        <i class="fas fa-user-plus bg-blue" aria-hidden="true"></i>
                    </div>
                    <div class="spacedIcon">
                        <i class="fas fa-briefcase-medical bg-orange"></i>
                    </div>
                    <div class="spacedIcon">
                        <i class="fas fa-receipt bg-red"></i>
                    </div>
                    <div class="spacedIcon">
                        <i class="fas fa-file-prescription bg-yellow"></i>
                    </div>
                    <div class="spacedIcon">
                        <i class="fas fa-check bg-green"></i>
                    </div>
                </div>
            </div>
        </section>
        <script>
            const progress = document.querySelector('.progresss-done');

            setTimeout(() => {
                progress.style.opacity = 1;
                progress.style.width = progress.getAttribute('data-done') + '%';
            }, 500)
        </script>




{{ request.user.username|json_script:"user_username" }}
{{ queue.name|json_script:"room-name" }}
{{ patient.id|json_script:"patientId" }}
{{ next_queue.name|json_script:"next_queue" }}
<script>
    let patientId = "{{ patient.id }}"
</script>


<link href="{% static 'assets/template/plugins/toastr/toastr.min.js' %}" rel="stylesheet"/>
{% include 'partials/_scripts.html' %}
{% endblock content %}