{% extends 'user_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %} Login {% endblock title %}

{% block content %}
<div class="login-box">
    <div class="login-logo">
      <b>PredictQ</b>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Sign in to start your session</p>
  
        <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-sm btn-primary btn-block">Sign In</button>
        </form>
        <!-- /.social-auth-links -->
  
        <p class="mb-1">
          <a href="{% url 'password_reset' %}">I forgot my password</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->
{% endblock content %}
