  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
      <a class="navbar-brand" href="#">PredictQ</a>
      </h2>
      <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse order-3" id="navbarCollapse">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a href="{% url 'queues:index' %}" class="nav-link">Home</a>
          </li>
          {% if request.user.profile.is_superuser %}
            <li class="nav-item">
              <a href="{% url 'admin:index' %}" class="nav-link">Admin Panel</a>
            </li>
          {% endif %}
        </ul>



      <!-- Right navbar links -->
      <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
        <li class="nav-item">
          {% if  request.user.is_authenticated %}
            <a href="{% url 'users:logout' %}" >
              <i class="fas fa-sign-out-alt"></i> Logout
            </a>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>
  <!-- /.navbar -->