
    @media only screen and (max-width: 600px) {
      .position-card-sm {
        height: 150px;
        width: 150px;
      }
    }
    .position-card-lg{
      height: 300px;
      width: 300px;
    }
     .timeline-item {
              margin-left: 70px !important;
              margin-top: 5px !important;
              background: #282828 !important;
          }
          
          .timeline-header {
              color: rgba(255, 255, 255, .8) !important;
          }
          
          #timeline-wrap {
              margin: 10% 10%;
              top: 100;
              position: relative;
          }
          
          #timelineLine {
              height: 1px;
              width: 100%;
              background-color: #aabbc4;
              position: relative;
          }
          
          .marker {
              z-index: 1000;
              color: #fff;
              width: 50px;
              height: 50px;
              line-height: 50px;
              font-size: 1.4em;
              text-align: center;
              margin-left: -25px;
              background-color: #999999;
              border-radius: 50%;
          }
          
          .marker:hover {
              -moz-transform: scale(1.2);
              -webkit-transform: scale(1.2);
              -o-transform: scale(1.2);
              -ms-transform: scale(1.2);
              transform: scale(1.2);
              -webkit-transition: all 300ms ease;
              -moz-transition: all 300ms ease;
              -ms-transition: all 300ms ease;
              -o-transition: all 300ms ease;
              transition: all 300ms ease;
          }
          
          .timeline-icon.one {
              background-color: #02050e !important;
          }
          
          .timeline-icon.two {
              background-color: #536295 !important;
          }
          
          .timeline-icon.three {
              background-color: #6976a2 !important;
          }
          
          .timeline-icon.four {
              background-color: #7e8aaf !important;
          }
          
          .mfirst {
              top: -25px;
          }
          
          .m2 {
              top: -25px;
              left: 25%
          }
          
          .m3 {
              top: -25px;
              left: 50%
          }
          
          .m4 {
              top: -25px;
              left: 75%
          }
        
        
          .mlast {
              top: -25px;
              left: 100%
          }
          
          .timeline-panel {
              margin-top: 20%;
              width: 500px;
              height: 200px;
              background-color: #cbd0df;
              border-radius: 2px;
              position: relative;
              text-align: left;
              padding: 10px;
              font-size: 20px;
              font-weight: bold;
              line-height: 20px;
              float: left;
          }
          
          .timeline-panel:after {
              content: '';
              position: absolute;
              margin-top: -12%;
              left: 10%;
              width: 0;
              height: 0;
              border: 12px solid transparent;
              border-bottom: 15px solid #cbd0df;
          }
          .bg-darkblue{
            background-color: #111f4d; 
            color: #f2f4f7;
          }
          .bg-lightgreen{
            background-color: #1abb9c;
            color: black;
          }
