{% extends 'base.html' %}

{% block content %}
    
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" class="h4 pt-5">Chatroom</label>
                        <textarea class="form-control" id="chat-text" rows="10"></textarea><br>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="input" type="text"></br>
                    </div>
                    <input class="btn btn-secondary btn-lg btn-block" id="submit" type="button" value="Send">
                </form>
            </div>
            <div class="col-12">
                <form>
                    <div class="card">
                        <input id = "first_name" class = "form-control" type="text">
                        <input id = "last" class = "form-control" type="text">
                        <button onclick="addPatient()" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{ request.user.username|json_script:"user_username" }}
    {{ room_name|json_script:"room-name" }}
    <script>
        const firstName  = 'keshav';
        const lastName = 'Mishra';
        const email = 'keshav.sm@somaiya.edu';
        const queueId = 1;
    </script>
{% endblock content %}